/* Reset CSS */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

.text-while{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: calc(100% / 3);
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}


.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

.pull-right{
    float: right !important;
}

.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    appearance: none; /* Trình duyệt
    -webkit-perspective: none; /* Áp dụng cho các hệ máy */
}

.btn:hover{
    background-color: #ccc;
    color: #000;
}

/* main */
#main {
    overflow: hidden;
}

#header {
    height: 46px; 
    background-color: rgb(0, 0, 0);
    /* cho nó ko bị mất khi lăn bi chuột */
    position: fixed;

    /* cho nó bám dính bên trên, và căng ngang left right */
    top: 0;
    left: 0;
    right: 0;
    left: 0;

    /* thằng header đang nổi lên trên thằng slider */
    z-index: 1;
}

#nav {
    display: inline-block;
    /* ul có tính chất block, nên nó sẽ chiếm hết chiều ngang của thẻ cha chứa nó */
    /* Nội dung đến đâu thì dài đến đó thôi . Tức từ thằng Home ==> More mà thôi */
}

#nav .subnav {
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block; 
}

#nav li:hover .subnav,
#nav li:hover .subnav-1{
    display: block;
}

#nav li:hover .subnav-2{
    display: block;
}

#nav .subnav li:hover a, /* có thể viết liền nhưng xuống hàng cho dễ nhìn */
#nav .subnav-1 li:hover a,
#nav .subnav-2 li:hover a,
#nav > li:hover > a{
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

#nav .subnav { 
    display: none;
    min-width: 160px;
    position: absolute;
    /* căn cứng */
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #333;
    padding: 0 12px;
    line-height: 38px;
    display: block;
}

 #nav .subnav-1{
    display: none; 
    min-width: 471px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    list-style: none;
} 

#nav .subnav-1 a{
    color: #333;
    padding: 0 12px;
    line-height: 38px;
    display: block;
}

#nav .subnav-2{
    display: none; 
    min-width: 237px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    list-style: none;
} 

#nav .subnav-2 a{
    color: #333;
    padding: 0 12px;
    line-height: 38px;
    display: block;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .phys-btn{
    /* Thằng này là vùng không gian xung quanh icon
    Nó có màu đỏ khi di chuột vào */
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .phys-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

/* Tạo nút menu cho mobile */
#header .mobile-menu-btn:hover{
    background-color: #bdbbbbb7;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
/**/

#header .menu-icon,
#header .phys-icon {
    /* thằng này chính là cái icon */
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%; /* tỉ lệ với chiều ngang của chính nó */
    background: url(../img/slider/Banner-VLUD.png) top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 20px #000;
}

#content {
   /* padding-top: 0px 302px;
    padding-bottom: 64px 16px; */

}

#content .content-section{
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text{
    margin-top: 25px;
    font-size: 21px;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    margin-top: 32px
}

/* #content .member-item{
    float: left;
    width: calc(100% / 3);
    /* width: 33.33333%;
    text-align: center;
} Đã bị thay thế bởi thuộc tính chung là col và row*/

#content .member-name{
    font-size: 15px;
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 5px;
}

#content .member-img-1 {  
    width: 129px;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}

/* New section */
.new-section{
    background-color: #000;
}

/* Places */
.places-list{
    margin-top: 16pxpx;
    margin-bottom: 48px;
}

/*.place-item{
    float: left;
    width: calc(100% / 3);
    padding: 0 8px; 
}*/

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}

.place-body{
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}

.place-heading{
    font-size: 15px;
    font-weight: 700;
}

.place-time{
    margin-top: 15px;  
    color: #757575;      
}

.place-dsc{
    margin-top: 15px;
    line-height: 1.4; 
    font-size: 14px;   
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display: flex;
} 

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease 0.4s ;
}

.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-close:hover{
    background-color: #a03636;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-close:hover{
    opacity: 1;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block; /* mặc định của trình duyệt là inline-block nên phải set như này để nó căn chỉnh lại */
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-heading-icon{
    margin-right: 16px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-tickets{
    background-color: #009688;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 17px;
}

#buy-tickets:hover{
    cursor: pointer;
    opacity: 0.5;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

@keyframes modalFaceIn{
    from{
        opacity: 0;
        transform: translateY(-140px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contact from */
.contact-content{
    margin-top: 48px;
}

.contact-content i[class*='ti-']{
    width: 30%;
    display: inline-block;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*='ti-'] {
    width: 30px;
    display: inline-block;
}

.contact-info a{
    color: #101aef;
    opacity: 0.8;
}

.contact-info a:hover{
    opacity: 1;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-submit-btn{
    font-size: 16px;
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    appearance: none;
    -webkit-perspective: none; /* chủ yếu dùng cái này để set cho safari trên iphone */
}

.contact-submit-btn:hover{
    background-color: #ccc;
    color: #000;
}

/* .contact-form .form-submit-btn{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 10px 16px;
    float: right;
} Bị xoá vì đã dùng chung btn ở trên */

/* Map section */

.map-section img{
    width: 100%;
}

/* Footer */ 
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 30px;
}

#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    font-size: 14px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.5);
}