/* Reset CSS */
* {
    /* Emmet */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Common */
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

.text-while{
    color: #fff !important;
}

.text-center{
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third{
    width: calc(100% / 3);
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}


.mt-8{
    margin-top: 8px !important;
}

.mt-16{
    margin-top: 16px !important;
}

.mt-32{
    margin-top: 32px !important;
}

.pull-right{
    float: right !important;
}

.btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    appearance: none; /* Trình duyệt
    -webkit-perspective: none; /* Áp dụng cho các hệ máy */
}

.btn:hover{
    background-color: #ccc;
    color: #000;
}

/* main */
#main {
    overflow: hidden;
}

#header {
    height: 46px; 
    background-color: black;
    /* cho nó ko bị mất khi lăn bi chuột */
    position: fixed;

    /* cho nó bám dính bên trên, và căng ngang left right */
    top: 0;
    left: 0;
    right: 0;
    left: 0;

    /* thằng header đang nổi lên trên thằng slider */
    z-index: 1;
}

#nav {
    display: inline-block;
    /* ul có tính chất block, nên nó sẽ chiếm hết chiều ngang của thẻ cha chứa nó */
    /* Nội dung đến đâu thì dài đến đó thôi . Tức từ thằng Home ==> More mà thôi */
}

#nav .subnav,
#nav .subnav-1,
#nav .subnav-2 {
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block; 
}

#nav li:hover .subnav,
#nav li:hover .subnav-1,
#nav li:hover .subnav-2{
    display: block;
}

#nav .subnav li:hover a, /* có thể viết liền nhưng xuống hàng cho dễ nhìn */
#nav .subnav-1 li:hover a,
#nav .subnav-2 li:hover a,
#nav > li:hover > a{
    color: black;
    background-color: #ccc;
    cursor: pointer;
}

#nav .subnav { 
    display: none;
    min-width: 213px;
    position: absolute;
    /* căn cứng */
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color: #333;
    padding: 0 12px;
    line-height: 38px;
    display: block;
}

#nav .subnav-1 { 
    display: none;
    min-width: 471px;
    position: absolute;
    /* căn cứng */
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav-1 a{
    color: #333;
    padding: 0 12px;
    line-height: 38px;
    display: block;
}

#nav .subnav-2 { 
    display: none;
    min-width: 237px;
    position: absolute;
    /* căn cứng */
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav-2 a{
    color: #333;
    padding: 0 12px;
    line-height: 38px;
    display: block;
}

#nav .nav-arrow-down{
    font-size: 14px;
}

#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}

#header .mobile-menu-btn,
#header .phys-btn{
    /* Thằng này là vùng không gian xung quanh icon
    Nó có màu đỏ khi di chuột vào */
    float: right;
    padding: 0 21px;
    cursor: pointer;
}

#header .phys-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}

/* Tạo nút menu cho mobile */
#header .mobile-menu-btn:hover{
    background-color: #bdbbbbb7;
}

#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
/**/

#header .menu-icon,
#header .phys-icon {
    /* thằng này chính là cái icon */
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

#slider {
    position: relative;
    margin-top: -28%;
    padding-top: 44%; /* tỉ lệ với chiều ngang của chính nó */
    background: url(../img/slider/background-blue.jpg) top center / cover no-repeat;
 }

#slider .text-content{
    position: absolute;
    bottom: 3%;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

#slider .text-heading{
    font-weight: 100;
    font-size: 60px;
}

#slider .text-description{
    font-size: 20px;
    margin-top: 25px;
    text-shadow: 0 0 20px #000;
}

#member{
    width: 800px;
    max-width: 100%;
    padding: 15px 0 35px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

.member-list .list-icon{
    list-style: none;
}

.info{
    margin-top: 30px;
    font-size: 20px;
}

img{
    margin-top: 30px;
    width: 250px;
    max-width: 100%;
}

h1{
    margin-top: 50px;
}

/* Footer */ 
#footer {
    padding: 64px 16px;
    text-align: center;
}

#footer .socials-list{
    font-size: 30px;
}

#footer .socials-list a{
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover,
#footer .socials-list a:hover{
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright{
    font-size: 14px;
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright a{
    color: rgba(0, 0, 0, 0.5);
}